<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877363125000-9cqs0i5h3af9ja5c9beg7af4sja6b323.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877363125000-9cqs0i5h3af9ja5c9beg7af4sja6b323</string>
	<key>API_KEY</key>
	<string>AIzaSyBItcg4COMgx87_rEnnMelOtPGIHhU6Bts</string>
	<key>GCM_SENDER_ID</key>
	<string>877363125000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.healthai</string>
	<key>PROJECT_ID</key>
	<string>healthai-d9eb6</string>
	<key>STORAGE_BUCKET</key>
	<string>healthai-d9eb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877363125000:ios:106059c1912b88f3aaaabd</string>
</dict>
</plist>